/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Gentium+Basic|IM+Fell+Double+Pica');

/*UNIVERSALS*/

.shadow {
  box-shadow: 2px 2px 10px black;
}

.header-text {
  font-family: 'Fredericka the Great', cursive;
}

.heading-text {
  font-family: 'IM Fell Double Pica', serif;
}

.main-text {
  font-family: 'Gentium Basic', serif;
}

body {
  background-color: #ADADAD;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.white-text {
  color: #fff;
}

.text-shadow {
  text-shadow: 1px 1px 5px #0a0a0a;
}

/*NAV*/

.navbar {
  background-color: #474747;
  border: none;
  margin: 0;
  border-radius: 0;
}

/*JUMBOTRON*/

.jumbotron {
  background-color: #ADADAD;
  height: 400px;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .jumbotron {
    padding-top: 50px;
  }
}


/*ABOUT*/

#about {
  background-color: #fff;
}

/*PROJECTS*/

.project-img {
  padding: 15px;
}

.img-link {
  transition: color 0.5s ease;
  color: #ADADAD;
}

.img-link:hover {
  color: #000;
}

/*CONTACT*/

#contact {
  background-color: #fff;
}

/*FOOTER*/






/*TRANSITIONS/ANIMATIONS*/

.transition {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.fadein {
  animation-name: fadeIn;
}

.fadeinup {
  animation-name: fadeInUp;
}

.fadeinright {
  animation-name: fadeInRight;
}

.hoverfade:hover {
  animation-name: fadeInUp;
}

/*KEYFRAMES*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

}
